* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6e0e0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #8acaf8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

.info-container {
    background-color: #e5f88a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-bottom: 0;
}

input[type="submit"],
input[type="reset"] {
    background-color: #40d345;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #84f64b;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dc4a4a;
}

.info-container td.image img {
    max-width: 100px;
    max-height: 100px;
}
